body {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: auto;
    background-color: #2B2B2B;
    padding: 1.5% 0 5% 0;
}

.logo {
    width: 25%;
    padding-left: 10%;
    float: left;
}

.logo img {
    max-width: 100%;
}

.nav {
    width: 75%;
    float: left;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    padding: 0 1.5%;
    color: lightgray;
}

.fa-search {
    color: #4A90E2;
}
/* slideshow styles ---> source https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;
}

.slide-text {
    position: absolute;
    top: 62%;
    left: 12%;
    width: 35%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: 2px solid white;
  border-radius: 55%;
}

/* Position the "next button" to the right */
.next {
  left: 5%;
  border-radius: 60%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* end slideshow styles */

.subtext-small {
    text-align: center;
}

.gallery {
    text-align: center;
    margin: 0 auto;
}

.gallery iframe {
    width: 100%;
}

